.vscode
*.pbf

__pycache__

src/service-graphhopper/data/*
!.gitkeep

# Latex
docs/paper/*.synctex.gz
docs/paper/*.out
docs/paper/*.fls
docs/paper/*.log
docs/paper/*.fdb_latexmk
docs/paper/*.dvi
docs/paper/*.blg
docs/paper/*.bbl
docs/paper/*.aux
#docs/paper/*.pdf
